.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: auto;
    float: left;
    /* padding-top: 10px; */
    text-align: center;
    /* border-color: #d5e85c; */

    /* width: 50%; */
    /* margin-left: 5%; */
    /* position: sticky; */
    /* line-height: 50%; */
    /* display: inline-block; */
    /* float: left; */
    /* display: flex; */
  }


  .card_mentor{
    width: 18rem;
    margin: 0 10px;
    height: auto;
  }

  .span-card{
    font-weight: bold;
  }

  .mentor-card-container{
    display: -webkit-inline-box;
    /* padding-bottom: 15px; */
    margin: 1% 25px;
    /* padding: 0px 15px 0px 15px;  */
    /* width: 95%;
    margin-left: 5% ; */
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.486);
  }

  .card-p{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
  }