/* 
    Login Component
*/
/* //    colores para el iniciar sesion y posiblemente otras areas 
// #6BD16F
// #FEE93E
// #9AD94D */
form {
    margin: auto;
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1);
    background-color: white;
}

.btn{
    margin-left: 0px !important;
}

.bttn-full-size {
    width: 100%;
    height: 50px;
    margin: 5% 0 10% 0;
    background-color: #13afe8;
    border-color: #13afe8;
}

.btn-primary:hover {
    background-color: #1099cc;
    border-color: #1099cc;
}

.login-buttons {
    margin: 0 10%;
}

.reset {
    text-align: center;
}

.reset > a {
    color: #1099cc;
}

#login-card > h2 {
    text-align: center;
    font-weight: bold;
    color: white;
}

#login-card{
    background-image: linear-gradient(to right,#499349, #5BADA1, #6FC5EC);
    padding: 3% 0;
}

/* 
    NormalForm Component
*/

.form-group {
    margin-left: 10%;
    padding: 10% 0 0 0;
}

.form-label {
    font-weight: bold;
    margin-top: 2%;
}
