.login-form {
    margin-top: 100px;
}

.center-block {
    display: flex;
    align-content: center;
}


.LoginButtons
{
display: inline-block;
}

.Reset
{
display: inline-block;
padding-left: 20px;
}


