/* 
    Signup Component
*/
/* //    colores para el iniciar sesion y posiblemente otras areas 
// #6BD16F
// #FEE93E
// #9AD94D */
#jubmt_student{
    color: white;
    text-align: center;
    background-image: linear-gradient(to right, #6BD16F,#9AD94D,#FEE93E);
}

.jumbotron{
    margin-bottom: 0; 
}

.fm_student {
background-color: white;
width: 100%;
box-shadow: 0 0 1px 1px rgba(20,23,28,0.1);
/* margin-bottom: 3%; */
}

/* .form-group{
    margin: 0;
} */

.title {
text-align: center;
padding-top: 50px;
}

.rest {
margin: 0 20%;
}

.lbl{
    font-style: normal;

}
