
.nav-bar {
    z-index: 60;
    position: relative;
    height: 60px;
    justify-content: space-between;
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #e9eced;
    margin: 0;
    background-color: white !important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
}

.navbar-item {
    position: absolute;
    margin-top: 15px;
    align-items: center;
}

.navbar-item > a {
    margin-right: 30px;
    text-decoration: none; 
    padding-bottom: 21px;
    color: #505763; 
}

.navbar-item.left > a {
    margin-left: 30px;
}

.navbar-item > a:hover {
    border-bottom: 3px solid #d5e85c;
}

.navbar-item.right {
    right: 0;
}

/* .navbar-item.right {
    right: 10%;
} */


.navbar-item.left {
    left: 0;
}

